html{
  font-family: georgia;
}

header{
  background-color: #ffe524;
  padding-bottom: .5em;
  text-align: center;
}

nav li{
  display: inline;
}

nav a{
  color: white;
  background-color: #b2a215;
  padding: .5em;
  border-radius: .1em;
}

nav a:hover{
  
}

ol{
  margin: 0em;
}

h1,h2,h3{
  font-family: 'Sigmar one', cursive;
  color: #b32f52;
}

.big-quote{
  font-size: 3.5em;
  text-align: center;
}

blockquote{
  font-style: italic;
  text-align: center;
  color: #b2a215;
}

figcaption{
text-align: center;
}

.italic{
  font-style: italic;
}
