html{
  font-family: georgia;
}

h1,h2,h3{
  font-family: 'Sigmar one', cursive;
  color: #b32f52;
}

.big-quote{
  font-size: 3.5em;
  text-align: center;
}

blockquote{
  font-style: italic;
  text-align: center;
  color: #b2a215;
}

figcaption{
text-align: center;  
}

.italic{
  font-style: italic;
}
